.git/*
.git
.github/*
.github
.vscode/*
.vscode
.gitignore
.dockerignore
.pre-commit
.pre-commit-config.yaml
.release-please-manifest.json
.eslintrc.yml
.jshintrc
.prettierignore
.prettierrc.yaml

docker-compose.yaml
docker-compose.yml
release-please-config.json
renovate.json
package-lock.json
Dockerfile

config/*
src/config/*
logs/*
log/*
node_modules/*
